/* Css reset Section */
*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* --Css reset  Section */

/* Gallery_App Section */

.Gallery_App {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
/* --Gallery_App   Section */

/* Title Section */
.title h1 {
  color: red;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 30px;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

/* Title Section */
